<template name="sms_messages">
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>SMS </h1>
                        <p>Short Message Service (SMS) is a text messaging service component of phone,
                            Web, or mobile communication systems. It uses standardized communications protocols
                            to allow fixed line or mobile phone devices to exchange short text messages </p>
                        <form action="#">
                            <div class="input-group">
                                <input class="form-control" name="email" id="email" type="email" placeholder="Your Phone Number" required>
                                <button class="btn btn-info btn-lg" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</template>
