<template name="footer">
	<!--======= FOOTER =========-->
	<footer>
		<div class="container"> 

			<!--======= NEWSLETTER =========-->
			<div class="subcribe">
				<div class="col-sm-5 no-padding">
					<h4>Subscribe to project</h4>
				</div>
				<div class="col-sm-7 no-padding">
					<form>
						<input class="font-montserrat" type="email" placeholder="E-mail Address or phone number" value="" required>
						<button type="submit" class="btn"> Subscribe</button>
					</form>
				</div>
			</div>
			<ul class="row">

				<!--======= HAPPY CLIENTS =========-->
				<li class="col-sm-3">
					<h5>About us</h5>
					<hr>
					<p>TransGov is a platform which enables ordinary Ghanaians and duty bearers alike to check the status of every developmental project in Ghana. Established in 2015, TransGov aims to strengthen local governance and participatory democracy by enabling duty bearers to be more accountable to the ordinary citizen and helping the ordinary Ghanaian to become more involved in the activities of their local, municipal and metropolitan assemblies </p>

					<!--======= SOCIAL ICONS =========-->

					<ul class="social_icons">
						<li class="facebook"> <a href="index.html#."><i class="fa fa-facebook"></i> </a></li>
						<li class="twitter"> <a href="index.html#."><i class="fa fa-twitter"></i> </a></li>
						<li class="linkedin"> <a href="index.html#."><i class="fa fa-linkedin"></i> </a></li>
						<li class="tumblr"> <a href="index.html#."><i class="fa fa-tumblr"></i> </a></li>
					</ul>
				</li>

				<!--======= HAPPY CLIENTS =========-->
				<li class="col-sm-3"> 
					<!--======= LINKS =========-->
					<h5>latest tweets</h5>
					<hr>
					<ul class="tweet">
						<li>
							<p>TransGov is awesome. <a href="index.html#.">http://transgov.com</a> I can see all the developmental projects in Ghana. Keep it up guys </p>
							<span>1 hour ago</span> </li>

							<li>
								<p>Real democracy is coming to life in Ghana <a href="09-Blog.html#.">http://transgov.com</a> is simply a great idea </p>
								<span>2 hours ago</span> </li>

							</ul>
						</li>
						<li class="col-sm-3">
							<h5>recent projects</h5>
							<hr>
							<ul class="recent-come">
								<li>
									<div class="img-post"> <img src="images/recent-img.jpg" alt=""> </div>
									<div class="text-post"> <a href="index.html#.">Affordable housing project for workers</a> <span>¢40,205</span> </div>
								</li>

								<li>
									<div class="img-post"> <img src="images/recent-img-2.jpg" alt=""> </div>
									<div class="text-post"> <a href="09-Blog.html#.">Affordable housing project for public sector workers</a> <span>¢30,100</span> </div>
								</li>

							</ul>
						</li>

						<!--======= HAPPY CLIENTS =========-->
						<li class="col-sm-3"> 
							<!--======= LINKS =========-->
							<h5>Contact</h5>
							<hr>
							<div class="loc-info">
								<p><i class="fa fa-map-marker"></i> East Legon</p>
								<p><i class="fa fa-phone"></i> +233 123 456 78</p>
								<p><i class="fa fa-print"></i> +233 123 456 78</p>
								<p><i class="fa fa-envelope-o"></i> info@transgov.com</p>
							</div>
						</li>
					</ul>
				</div>
			</footer>
		</template>
