<template name="home">
	<div id="wrap" class="home-1"> 
		<!--======= BANNER =========-->
		<div id="banner">
			<div class="flex-banner">
				<ul class="slides">
					<!--======= SLIDER =========-->
					<li> <img src="images/slider-img-1.jpg" alt="" > </li>

					<!--======= SLIDER =========-->
					<li> <img src="images/slider-img-2.jpg" alt="" > </li>
				</ul>
			</div>


			<!--======= FIND PROPERTY =========-->
			<div class="finder">
				<div class="container">
					<h1>Welcome to TransGov</h1>

					<!--======= FORM SECTION =========-->
					<div class="find-sec">
						<ul class="row">

							<!--======= FORM =========-->
							<li class="col-sm-3">
								<label>Choose The Region</label>
								<select class="selectpicker">
									<option>Choose Region</option>
									<option>Greater Accra</option>
									<option>Ashanti</option>
									<option>Central</option>
									<option>Eastern</option>
									<option>Brong Ahafo</option>
									<option>Volta</option>
									<option>Northern</option>
									<option>Upper East</option>
									<option>Upper West</option>
									<option>Western</option>
								</select>
							</li>

							<!--======= FORM =========-->
							<li class="col-sm-3">
								<label>District</label>
								<select class="selectpicker">
									<option>choose district</option>
									<option>Akuapim South District</option>
									<option>Afram Plains South District</option>
									<option>Akuapim North District</option>
									<option>Akuapim South Municipal District</option>
									<option>Akyemansa District</option>
									<option>Asuogyaman District</option>
									<option>Ayensuano District</option>
									<option>Atiwa District</option>
									<option>Birim Central Municipal District</option>
									<option>Birim North District</option>
									<option>Birim South District</option>
									<option>Denkyembour District</option>
									<option>East Akim Municipal District</option>
									<option>Fanteakwa District</option>
									<option>Kwaebibirem District</option>
									<option>Kwahu East District</option>
									<option>Kwahu North District</option>
									<option>Kwahu South District</option>
									<option>Kwahu West Municipal District</option>
									<option>Lower Manya Krobo District</option>
									<option>New-Juaben Municipal District</option>
									<option>Suhum/Kraboa/Coaltar District</option>
									<option>Upper Manya Krobo District</option>
									<option>Upper West Akim District</option>
									<option>West Akim Municipal District</option>
									<option>Yilo Krobo District</option>
								</select>
							</li>

							<!--======= FORM =========-->
							<li class="col-sm-3">
								<label>Project Status</label>
								<select class="selectpicker">
									<option>All</option>
									<option>On-Going</option>
									<option>Halted</option>
									<option>Completed</option>
								</select>
							</li>

							<!--======= FORM =========-->
							<li class="col-sm-3">
								<label>Project Type</label>
								<select class="selectpicker">
									<option>Health </option>
									<option>Agriculture</option>
									<option>Education</option>
									<option>Multi Sectoral</option>
								</select>
							</li>

							<!--======= FORM =========-->
							<li class="col-sm-3">
											<!-- <label>No of Bedrooms</label>
											<select class="selectpicker">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select> -->
										</li>

										<!--======= FORM =========-->
										<li class="col-sm-3">
											<!-- <label>No of Bathrooms</label> -->
											<!-- <select class="selectpicker">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select> -->
										</li>

										<!--======= Pricing Range =========-->
										<li class="col-sm-6">
											<div class="row">
												<div class="col-xs-9">
													<div class="cost-price-content">
														<!-- <label>Pricing Range: <span id="price-min" class="price-min"></span> <i>-</i> <span id="price-max" class="price-max"></span></label> -->
														<div id="price-range" class="price-range"></div>
													</div>
												</div>

												<!--======= BUTTON =========-->
												<div class="col-xs-3 search">
													<button type="submit" class="btn" id="search">Search</button>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>





					<section id="testimonials">
						<div class="container"> 

							<!--======= TITTLE =========-->
							<div class="tittle">
								<h3>TransGov Value to Ghana</h3>
							</div>
							<div class="testi"> 

								<!--======= TESTIMONIALS SLIDERS CAROUSEL =========-->
								<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
									<div class="row">
										<div class="col-md-12"> <img src="" alt="">
											<div class="carousel-inner" role="listbox"> 

												<!--======= SLIDER 1 =========-->
												<div class="item active">
													<p> 
														TransGov is a platform which enables ordinary Ghanaians and 
														duty bearers alike to check the status of every developmental project in Ghana.
														Established in 2015, TransGov aims to strengthen local governance and participatory 
														democracy by enabling duty bearers to be more accountable to the ordinary citizen and 
														helping the ordinary Ghanaian to become more involved in the activities of their local, 
														municipal and metropolitan assemblies
													</p>
													<h5>mitchell warner</h5>
													<span>Sydney, Australia</span> </div>

													<!--======= SLIDER 2 =========-->
													<div class="item">
														<p>
															TransGov is a platform which enables ordinary Ghanaians and 
															duty bearers alike to check the status of every developmental project in Ghana.
															Established in 2015, TransGov aims to strengthen local governance and participatory 
															democracy by enabling duty bearers to be more accountable to the ordinary citizen and 
															helping the ordinary Ghanaian to become more involved in the activities of their local, 
															municipal and metropolitan assemblies
														</p>
														<h5>JHON SMITH</h5>
														<span>Sydney, Australia</span> </div>

														<!--======= SLIDER 3 =========-->
														<div class="item">
															<p> 
																TransGov is a platform which enables ordinary Ghanaians and 
																duty bearers alike to check the status of every developmental project in Ghana.
																Established in 2015, TransGov aims to strengthen local governance and participatory 
																democracy by enabling duty bearers to be more accountable to the ordinary citizen and 
																helping the ordinary Ghanaian to become more involved in the activities of their local, 
																municipal and metropolitan assemblies
															</p>
															<h5>JHON SMITH</h5>
															<span>Sydney, Australia</span> </div>
														</div>
													</div>

													<!--======= SLIDER AVATARS =========-->
													<div class="col-md-12">
														<ol class="carousel-indicators">
															<li data-target="#carousel-example-generic" data-slide-to="0" class="active"> <img src="images/avatar-1.jpg" alt="" > </li>
															<li data-target="#carousel-example-generic" data-slide-to="1"> <img src="images/avatar-2.jpg" alt="" ></li>
															<li data-target="#carousel-example-generic" data-slide-to="2"> <img src="images/avatar-3.jpg" alt="" ></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>



								<!--======= TEAM =========-->
								<section id="team">
									<div class="container"> 
										<!--======= TITTLE =========-->
										<div class="tittle"> <img src="images/head-top.png" alt="">
											<h3>The Team Behind</h3>
											<p>This time there's no stopping us. Straightnin' the curves. Flatnin' the hills Someday the mountain might get ‘em but the law never will. The weather started getting rough - the tiny ship was tossed.</p>
										</div>
										<div class="row">
											<div class="col-md-6"> 

												<!--======= TEAM ROW =========-->
												<ul class="row">

													<!--======= TEAM =========-->
													<li class="col-sm-6">
														<div class="team"> <img class="img-responsive" src="images/agent-1.jpg" alt="">
															<div class="team-over"> 
																<!--======= SOCIAL ICON =========-->
																<ul class="social_icons animated-6s fadeInUp">
																	<li class="facebook"><a href="index.html#."><i class="fa fa-facebook"></i></a></li>
																	<li class="twitter"><a href="index.html#."><i class="fa fa-twitter"></i></a></li>
																	<li class="googleplus"><a href="index.html#."><i class="fa fa-google-plus"></i></a></li>
																	<li class="linkedin"><a href="index.html#."><i class="fa fa-linkedin"></i></a></li>
																</ul>
															</div>

															<!--======= TEAM DETAILS =========-->
															<div class="team-detail">
																<h6>prince Anim</h6>
																<p>Project Lead</p>
															</div>
														</div>
													</li>

													<!--======= TEAM =========-->
													<li class="col-sm-6">
														<div class="team"> <img class="img-responsive" src="images/agent-2.jpg" alt="">
															<div class="team-over"> 
																<!--======= SOCIAL ICON =========-->
																<ul class="social_icons animated-6s fadeInUp">
																	<li class="facebook"><a href="index.html#."><i class="fa fa-facebook"></i></a></li>
																	<li class="twitter"><a href="index.html#."><i class="fa fa-twitter"></i></a></li>
																	<li class="googleplus"><a href="index.html#."><i class="fa fa-google-plus"></i></a></li>
																	<li class="linkedin"><a href="index.html#."><i class="fa fa-linkedin"></i></a></li>
																</ul>
															</div>

															<!--======= TEAM DETAILS =========-->
															<div class="team-detail">
																<h6>Jerry King</h6>
																<p>Associate</p>
															</div>
														</div>
													</li>
												</ul>
											</div>
											<div class="col-md-6"> 

												<!--======= TEAM ROW =========-->
												<ul class="row">

													<!--======= TEAM =========-->
													<li class="col-sm-6">
														<div class="team"> <img class="img-responsive" src="images/agent-3.jpg" alt="">
															<div class="team-over"> 
																<!--======= SOCIAL ICON =========-->
																<ul class="social_icons animated-6s fadeInUp">
																	<li class="facebook"><a href="index.html#."><i class="fa fa-facebook"></i></a></li>
																	<li class="twitter"><a href="index.html#."><i class="fa fa-twitter"></i></a></li>
																	<li class="googleplus"><a href="index.html#."><i class="fa fa-google-plus"></i></a></li>
																	<li class="linkedin"><a href="index.html#."><i class="fa fa-linkedin"></i></a></li>
																</ul>
															</div>

															<!--======= TEAM DETAILS =========-->
															<div class="team-detail">
																<h6>Kwame Yeboah</h6>
																<p>Developer </p>
															</div>
														</div>
													</li>

													<!--======= TEAM =========-->
													<li class="col-sm-6">
														<div class="team"> <img class="img-responsive" src="images/agent-4.jpg" alt="">
															<div class="team-over"> 
																<!--======= SOCIAL ICON =========-->
																<ul class="social_icons animated-6s fadeInUp">
																	<li class="facebook"><a href="index.html#."><i class="fa fa-facebook"></i></a></li>
																	<li class="twitter"><a href="index.html#."><i class="fa fa-twitter"></i></a></li>
																	<li class="googleplus"><a href="index.html#."><i class="fa fa-google-plus"></i></a></li>
																	<li class="linkedin"><a href="index.html#."><i class="fa fa-linkedin"></i></a></li>
																</ul>
															</div>

															<!--======= TEAM DETAILS =========-->
															<div class="team-detail">
																<h6>Kennedy Anyinatoe</h6>
																<p>Developer</p>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</section>

								<!--======= TESTIMONILAS =========-->


								<!--======= CALL US =========-->

								<section class="call-us">
									<div class="overlay">
										<div class="container">
											<ul class="row">
												<li class="col-sm-6">
													<h4>Do you want to sell your property ?</h4>
													<h6>Call us and list your property here</h6>
												</li>
												<li class="col-sm-4">
													<h1>+01 123 456 78</h1>
												</li>
												<li class="col-sm-2 no-padding"> <a href="index.html#." class="btn">just contact us</a> </li>
											</ul>
										</div>
									</div>
								</section>



								<!--======= FOOTER =========-->
								

								<!--======= RIGHTS =========-->
								
							</div>
						</template>
