<template name="projectList">
	<!--======= PROPERTY =========-->
	<section class="properties">
		<div class="container"> 
			
			<!--======= TITTLE =========-->
			<div class="tittle"> <img src="images/head-top.png" alt="">
				<h3>List of Projects</h3>
				<p>This is where all the projects currently going on are listed for everyone to get information about them. These projects are souly undertaken by the Government of Ghana.
				</p>
			</div>
			
			<!--======= PROPERTIES ROW =========-->
			<ul class="row">
				
				<!--======= PROPERTY =========-->
				<li class="col-sm-4"> 
					<!--======= TAGS =========--> 
					<span class="tag font-montserrat rent">ONGOING</span>
					<section> 
						<!--======= IMAGE =========-->
						<div class="img"> <img class="img-responsive" src="images/project44.JPG" alt="" > 
							<!--======= IMAGE HOVER =========-->
							
							<div class="over-proper"> <a href="index.html#." class="btn font-montserrat">more details</a> </div>
						</div>
						<!--======= HOME INNER DETAILS =========-->
						<ul class="home-in">
							<li><span><i class="fa fa-home"></i> 20,000 Acres</span></li>
							<li><span><i class="fa fa-bed"></i> 3 Bedrooms</span></li>
							<li><span><i class="fa fa-tty"></i> 3 Bathrooms</span></li>
						</ul>
						<!--======= HOME DETAILS =========-->
						<div class="detail-sec"> <a href="index.html#." class="font-montserrat">Public Toilet</a> <span class="locate"><i class="fa fa-map-marker"></i> Ghana, Accra</span>
							<p>This project started in December 2014. It will be completed in August 2015. 
							</p>
							<div class="share-p"> <span class="price font-montserrat">$ 40,596</span> <i class="fa fa-star-o"></i> <i class="fa fa-share-alt"></i> </div>
						</div>
					</section>
				</li>
				
				<!--======= PROPERTY =========-->
				<li class="col-sm-4"> 
					<!--======= TAGS =========--> 
					<span class="tag font-montserrat rent">ONGOING</span>
					<section> 
						<!--======= IMAGE =========-->

						<div class="img"> <img class="img-responsive" src="images/img-24.jpg" alt="" > 

							<!--======= IMAGE HOVER =========-->
							
							<div class="over-proper"> <a href="/project-details" class="btn font-montserrat">more details</a> </div>
						</div>
						<!--======= HOME INNER DETAILS =========-->
						<ul class="home-in">
							<li><span><i class="fa fa-home"></i> 20,000 Acres</span></li>
							<li><span><i class="fa fa-bed"></i> 3 Bedrooms</span></li>
							<li><span><i class="fa fa-tty"></i> 3 Bathrooms</span></li>
						</ul>
						<!--======= HOME DETAILS =========-->
						<div class="detail-sec"> <a href="index.html#." class="font-montserrat">Nkrumah Circle interchange</a> <span class="locate"><i class="fa fa-map-marker"></i>Ghana, Accra</span>
							<p>
								This project is by the Government, started January 2014 and end date is January 2016.
							</p>
							<div class="share-p"> <span class="price font-montserrat">$ 256,596</span> <i class="fa fa-star-o"></i> <i class="fa fa-share-alt"></i> </div>
						</div>
					</section>
				</li>
				
				<!--======= PROPERTY =========-->
				<li class="col-sm-4"> 
					<!--======= TAGS =========--> 
					<span class="tag font-montserrat sale">COMPLETED</span>
					<section> 
						<!--======= IMAGE =========-->
						<div class="img"> <img class="img-responsive" src="images/project22.jpg" alt="" > 
							<!--======= IMAGE HOVER =========-->
							
							<div class="over-proper"> <a href="index.html#." class="btn font-montserrat">more details</a> </div>
						</div>
						<!--======= HOME INNER DETAILS =========-->
						<ul class="home-in">
							<li><span><i class="fa fa-home"></i> 20,000 Acres</span></li>
							<li><span><i class="fa fa-bed"></i> 3 Bedrooms</span></li>
							<li><span><i class="fa fa-tty"></i> 3 Bathrooms</span></li>
						</ul>
						<!--======= HOME DETAILS =========-->
						<div class="detail-sec"> <a href="index.html#." class="font-montserrat">School Project</a> <span class="locate"><i class="fa fa-map-marker"></i>Ghana, Kumasi</span>
							<p>This project is by the Government, started on January 2014 and anticipated time to end is January 2016.
							</p>
							<div class="share-p"> <span class="price font-montserrat">$ 256,596</span> <i class="fa fa-star-o"></i> <i class="fa fa-share-alt"></i> </div>
						</div>
					</section>
				</li>
				
				<!--======= PROPERTY =========-->
				<li class="col-sm-4"> 
					<!--======= TAGS =========--> 
					<span class="tag font-montserrat rent">ONGOING</span>
					<section> 
						<!--======= IMAGE =========-->
						<div class="img"> <img class="img-responsive" src="images/project33.jpg" alt="" > 
							<!--======= IMAGE HOVER =========-->
							
							<div class="over-proper"> <a href="index.html#." class="btn font-montserrat">more details</a> </div>
						</div>
						<!--======= HOME INNER DETAILS =========-->
						<ul class="home-in">
							<li><span><i class="fa fa-home"></i> 20,000 Acres</span></li>
							<li><span><i class="fa fa-bed"></i> 3 Bedrooms</span></li>
							<li><span><i class="fa fa-tty"></i> 3 Bathrooms</span></li>
						</ul>
						<!--======= HOME DETAILS =========-->
						<div class="detail-sec"> <a href="index.html#." class="font-montserrat">200 Housing Project</a> <span class="locate"><i class="fa fa-map-marker"></i>Ghana, Accra</span>
							<p>
								The 200 Housing project is ongoing, will be done soon. It is to serve Ghanaians. 
							</p>
							<div class="share-p"> <span class="price font-montserrat">$ 2,956,596</span> <i class="fa fa-star-o"></i> <i class="fa fa-share-alt"></i> </div>
						</div>
					</section>
				</li>
				
				<!--======= PROPERTY =========-->
				<li class="col-sm-4"> 
					<!--======= TAGS =========--> 
					<span class="tag font-montserrat sale">COMPLETED</span>
					<section> 
						<!--======= IMAGE =========-->
						<div class="img"> <img class="img-responsive" src="images/project22.jpg" alt="" > 
							<!--======= IMAGE HOVER =========-->
							
							<div class="over-proper"> <a href="index.html#." class="btn font-montserrat">more details</a> </div>
						</div>
						<!--======= HOME INNER DETAILS =========-->
						<ul class="home-in">
							<li><span><i class="fa fa-home"></i> 20,000 Acres</span></li>
							<li><span><i class="fa fa-bed"></i> 3 Bedrooms</span></li>
							<li><span><i class="fa fa-tty"></i> 3 Bathrooms</span></li>
						</ul>
						<!--======= HOME DETAILS =========-->
						<div class="detail-sec"> <a href="index.html#." class="font-montserrat">School project</a> <span class="locate"><i class="fa fa-map-marker"></i> Ghana, Tema</span>
							<p>
								Till the one day when the lady met this fellow and they knew it was much more than 
							</p>
							<div class="share-p"> <span class="price font-montserrat">$ 256,596</span> <i class="fa fa-star-o"></i> <i class="fa fa-share-alt"></i> </div>
						</div>
					</section>
				</li>
				
				<!--======= PROPERTY =========-->
				<li class="col-sm-4"> 
					<!--======= TAGS =========--> 
					<span class="tag font-montserrat rent">ONGOING</span>
					<section> 
						<!--======= IMAGE =========-->
						<div class="img"> <img class="img-responsive" src="images/project.JPG" alt="" > 
							<!--======= IMAGE HOVER =========-->
							
							<div class="over-proper"> <a href="index.html#." class="btn font-montserrat">more details</a> </div>
						</div>
						<!--======= HOME INNER DETAILS =========-->
						<ul class="home-in">
							<li><span><i class="fa fa-home"></i> 20,000 Acres</span></li>
							<li><span><i class="fa fa-bed"></i> 3 Bedrooms</span></li>
							<li><span><i class="fa fa-tty"></i> 3 Bathrooms</span></li>
						</ul>
						<!--======= HOME DETAILS =========-->
						<div class="detail-sec"> <a href="index.html#." class="font-montserrat">Assembly Hall</a> <span class="locate"><i class="fa fa-map-marker"></i> Boston,USA</span>
							<p>Till the one day when the lady met this fellow and they knew it was much more than </p>
							<div class="share-p"> <span class="price font-montserrat">$ 2,956,596</span> <i class="fa fa-star-o"></i> <i class="fa fa-share-alt"></i> </div>
						</div>
					</section>
				</li>
			</ul>
		</div>
	</section>
	
</template>