<template name="navigation">
	<!--======= TOP BAR =========-->
	<div class="top-bar">
		<div class="container">
			<ul class="left-bar-side">
				<li>
					<p><i class="fa fa-phone"></i> Call Us Now : +233 30 222 222 </p>
					<span>|</span> </li>
					<li>
						<p><i class="fa fa-envelope-o"></i> Info@transgov.com </p>
						<span>|</span> </li>
						<li>
							<p><i class="fa fa-lock"></i> Login / Register </p>
							<span>|</span> </li>
						</ul>
						<ul class="right-bar-side social_icons">
							<li class="facebook"> <a href="index.html#."><i class="fa fa-facebook"></i> </a></li>
							<li class="twitter"> <a href="index.html#."><i class="fa fa-twitter"></i> </a></li>
							<li class="linkedin"> <a href="index.html#."><i class="fa fa-linkedin"></i> </a></li>
							<li class="tumblr"> <a href="index.html#."><i class="fa fa-tumblr"></i> </a></li>
						</ul>
					</div>
				</div>

				<!--======= HEADER =========-->
				<header class="sticky">
					<div class="container"> 

						<!--======= LOGO =========-->
						<div class="logo"> <a href="{{pathFor 'home'}}"><img src="images/logo.png" alt="" ></a> </div>
						<!--======= NAV =========-->
						<nav> 

							<!--======= MENU START =========-->
							<ul class="ownmenu">
								<li class="active"><a href="{{pathFor 'home'}}">Home</a>

								</li>
								<li><a href="list-of-projects">Latest Projects </a></li>
								<li><a href="/dashboard">Who we are</a></li>

								<li><a href="/signin">Contact Us</a> 
									<li><a href="index.html">Login/Register</a> 
	

										<!--======= MEGA MENU =========-->
										<div class="megamenu full-width">
											<h6>All Pages</h6>
											<div class="row nav-post">


												<div class="col-sm-4"> <img class="absu" src="images/nav-image.png" alt="" > </div>
											</div>
										</div>
									</li>
								</li>
							</ul>

							<!--======= SUBMIT COUPON =========-->
							<div class="sub-nav-co"> <a href="index.html#."><i class="fa fa-search"></i></a> </div>
						</nav>
					</div>
				</header>
			</template>
