<template name="projectDetails">
	<!-- Page Wrap ===========================================-->
	<div id="wrap"> 


		<!--======= BANNER =========-->
		<div class="sub-banner">
			<div class="overlay">
				<div class="container">
					<h1>Project Details</h1>
					<ol class="breadcrumb">
						<li class="pull-left">project</li>
						<li><a href="09-Blog.html#">Home</a></li>
						<li class="active">project</li>
					</ol>
				</div>
			</div>
		</div>

		<!--======= PROPERTIES DETAIL PAGE =========-->
		<section class="properti-detsil">
			<div class="container">
				<div class="row"> 

					<!--======= LEFT BAR =========-->
					<div class="col-sm-9"> 

						<!--======= CLIENTS FEEDBACK =========-->

						<div class="blog-page">
							<section class="blog no-padding">
								<ul class="row">

									<!--======= BLOG 1 =========-->
									<li class="col-sm-12">
										<div class="b-inner"> <img class="img-responsive" src="images/b-img-11.jpg" alt="" >
											<div class="b-details">
												<div class="bottom-sec"> <span><i class="fa fa-calendar"></i> mar 23 ,2015</span> <a class="font-montserrat" href="09-Blog.html#.">The Kwame Nkrumah Circle Interchange Development Project</a> </div>
											</div>
										</div>
										<div class="post-admin"> <img src="images/author-1.jpg" alt="">
											<h6>By Accra Metropolitan Assembly</h6>
											<div class="pull-right margin-t-20"> <span><i class="fa fa-comment-o"></i> 13 Comments </span> | <span><i class="fa fa-heart-o"></i> 26 Likes </span> | <span><i class="fa fa-eye"></i> 30 Viewers </span> </div>
										</div>
										<p>The Kwame Nkrumah Circle is a key intersection in the arterial road network of Accra. It carries 84,000 vehicles a day. The objective of the project is to reduce congestion, travel time and vehicle operating cost and thereby stimulate local economic growth.</p>
									</li>

											</ul>
										</section>
									</div>
								</div>

								<!--======= RIGT SIDEBAR =========-->
								<div class="col-sm-3 side-bar"> 

									<!--======= FIND PROPERTY =========-->
									<div class="finder"> 

										<!--======= FORM SECTION =========-->
										<div class="find-sec">
											<h5>Search for projects</h5>
											<ul class="row">

												<!--======= FORM =========-->
												<li class="col-sm-12">
													<select class="selectpicker">
														<option value="">City</option>
														<option value="">Accra</option>
														<option value="">Kumasi</option>
													</select>
												</li>

												<!--======= FORM =========-->
												<li class="col-sm-12">
													<select class="selectpicker">
														<option value="">District/Municipal/Metropolitan</option>
														<option value="">Accra Metropolitan Assembly</option>
														<option value="">Kumasi Metropolitan Assembly</option>
													</select>
												</li>

												<!--======= FORM =========-->
												<li class="col-sm-12">
													<select class="selectpicker">
														<option value="">Project Status</option>
														<option value="">Ongoing</option>
														<option value="">Completed</option>
													</select>
												</li>

												<!--======= FORM =========-->
												<li class="col-sm-12">
													<select class="selectpicker">
														<option value="">Project Type</option>
														<option value="">Infrastructure</option>
														<option value="">Poverty Alleviation</option>
													</select>
												</li>

												<!--======= FORM =========-->
												<li class="col-sm-12">
													<select class="selectpicker">
														<option value="">Funded By</option>
														<option value="">Government</option>
														<option value="">International Donors</option>
													</select>
												</li>

												<li class="col-sm-12"> <a href="09-Blog.html#." class="btn">SEARCH</a> </li>
											</ul>
										</div>
									</div>

									<!--======= CATEGORIES =========-->
									<div class="categories margin-t-40">
										<h5>Categories</h5>
										<hr>
										<ul>
											<li><a href="09-Blog.html#."> Road Construction <span>(23)</span></a></li>
											<li><a href="09-Blog.html#."> Pipe-borne water <span>(16)</span></a></li>
											<li><a href="09-Blog.html#."> Poverty Alleviation <span> (09)</span></a></li>
											<li><a href="09-Blog.html#."> Infrastructural projects <span>(15)</span></a></li>
											<li><a href="09-Blog.html#."> Agricultural projects <span> (11)</span></a></li>
											<li><a href="09-Blog.html#.">  <span>Open bids</span></a></li>
										</ul>
									</div>

									<!--======= SOCIAL =========-->
									<div class="socil-action margin-t-40">
										<h5>Social With us</h5>
										<hr>
										<ul>
											<li> <a class="rss" href="09-Blog.html#."><i class="fa fa-rss"></i>RSS FEED</a> </li>
											<li> <a class="tw" href="09-Blog.html#."><i class="fa fa-twitter"></i>follow us</a> </li>
											<li> <a class="fb" href="09-Blog.html#."><i class="fa fa-facebook"></i>LIKE US</a> </li>
											<li> <a class="pin" href="09-Blog.html#."><i class="fa fa-pinterest"></i>follow us</a> </li>
											<li> <a class="drib" href="09-Blog.html#."><i class="fa fa-dribbble"></i>follow us</a> </li>
											<li> <a class="g-plus" href="09-Blog.html#."><i class="fa fa-google-plus"></i>plus 1 us</a> </li>
										</ul>
									</div>

									<!--======= SOCIAL =========-->
									<div class="flicker-post margin-t-40">
										<h5>featured projects</h5>
										<hr>
										<ul>
											<li> <a href="09-Blog.html#."><img class="img-responsive" src="images/img-1.jpg" alt="" ></a> </li>
											<li> <a href="09-Blog.html#."><img class="img-responsive" src="images/img-2.jpg" alt="" ></a> </li>
											<li> <a href="09-Blog.html#."><img class="img-responsive" src="images/img-3.jpg" alt="" ></a> </li>
											<li> <a href="09-Blog.html#."><img class="img-responsive" src="images/img-4.jpg" alt="" ></a> </li>
											<li> <a href="09-Blog.html#."><img class="img-responsive" src="images/img-5.jpg" alt="" ></a> </li>
											<li> <a href="09-Blog.html#."><img class="img-responsive" src="images/img-6.jpg" alt="" ></a> </li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</section>

									<!--======= RIGHTS =========-->
									<div class="rights">
										<div class="container">
											<p class="font-montserrat">© 2015 TransGov. All rights reserved</p>
										</div>
									</div>
								</div>
							</template>
